[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
requests = "*"
gunicorn = "*"
pymongo = {version = "*", extras = ["tls", "srv", "gssapi"]}
"heroku3" = "*"

[requires]
python_version = "3.6"
